{% extends 'magahospital/base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow-lg border-0">

        <div class="card-body p-4">

            <h2 class="mb-4 text-primary">

                🏥 Add Procedure

            </h2>

            <!-- DOCTOR NOTES -->
        <div class="alert alert-info mb-4">

    <h5 class="mb-3">

        Doctor Notes

    </h5>

            {% if visit.doctor %}

                <strong>Diagnosis:</strong>

                    <br>

                        {{ visit.doctor.diagnosis }}

                    <br><br>

                <strong>History:</strong>

            <br>

        {{ visit.doctor.history }}

    {% else %}

        No doctor notes available.

            {% endif %}

                </div>

                <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="mb-3">

                    <label>
                        Procedure Name
                    </label>

                    {{ form.procedure_name }}

                </div>

                <div class="mb-3">

                    <label>
                        Notes
                    </label>

                    {{ form.notes }}

                </div>

                <div class="mb-3">

                    <label>
                        Cost
                    </label>

                    {{ form.cost }}

                </div>

                <button type="submit"
                        class="btn btn-primary">

                    Save Procedure

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}