{% extends 'magahospital/base.html' %}

{% block title %}
Dashboard | Maga Hospital
{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">

        <div class="mb-3">

    <a href="{% url 'add_stock' %}"
    class="btn btn-success">

        <i class="bi bi-plus-circle me-1"></i>

        Add Stock

    </a>

</div>

        💊 Pharmacy Stock

    </h2>

    <form method="GET"
    class="row mb-4">

    <div class="col-md-6">

        <input
            type="text"
            name="q"
            class="form-control"
            placeholder="Search medicine name..."
            value="{{ query }}"
        >

    </div>

    <div class="col-md-2 d-flex gap-2">

    <button
        type="submit"
        class="btn btn-primary flex-fill">

        <i class="bi bi-search"></i>

        Search

    </button>

    <a href="{% url 'stock_list' %}"
        class="btn btn-secondary">

            <i class="bi bi-arrow-clockwise me-1"></i>

            Reset

    </a>

</div>

</form>

    <div class="row mb-4">

    <div class="col-md-3">

        <div class="card shadow-sm border-0 bg-primary text-white">

            <div class="card-body text-center">

                <h3>{{ total_medicines }}</h3>

                <p class="mb-0">

                    Total Medicines

                </p>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm border-0 bg-danger text-white">

            <div class="card-body text-center">

                <h3>{{ low_stock_count }}</h3>

                <p class="mb-0">

                    Low Stock

                </p>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm border-0 bg-warning">

            <div class="card-body text-center">

                <h3>{{ expiring_soon_count }}</h3>

                <p class="mb-0">

                    Expiring Soon

                </p>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm border-0 bg-dark text-white">

            <div class="card-body text-center">

                <h3>{{ expired_count }}</h3>

                <p class="mb-0">

                    Expired

                </p>

            </div>

        </div>

    </div>

</div>

    <div class="card shadow-sm border-0">

        <div class="card-body">

            <table class="table table-hover">

                <thead class="table-dark">

                    <tr>

                        <th>Medicine</th>

                        <th>Quantity</th>

                        <th>Price</th>

                        <th>Expiry</th>

                        <th>Status</th>
                        <th>Actions</th>

                    </tr>

                </thead>

                <tbody>

                    {% for medicine in medicines %}

                    <tr>

                        <td>

                            {{ medicine.medicine_name }}

                        </td>

                        <td>

                            {{ medicine.quantity }}

                        </td>

                        <td>

                            {{ medicine.unit_price }}

                        </td>

                        <td>

                            {{ medicine.expiry_date }}

                        </td>

                    <td>

    {% if medicine.is_expired %}

        <span class="badge bg-dark">
            Expired
        </span>

    {% endif %}

    {% if medicine.expiring_soon and not medicine.is_expired %}

        <span class="badge bg-warning text-dark">
            Expiring Soon
        </span>

    {% endif %}

    {% if medicine.is_low_stock %}

        <span class="badge bg-danger">
            Low Stock
        </span>

    {% endif %}

    {% if not medicine.is_expired and not medicine.expiring_soon and not medicine.is_low_stock %}

        <span class="badge bg-success">
            Available
        </span>

    {% endif %}

</td>

                <td>

    <a href="{% url 'edit_stock' medicine.id %}"
    class="btn btn-sm btn-primary">

        Edit

    </a>

    <a href="{% url 'adjust_stock' medicine.id %}"
    class="btn btn-sm btn-warning">

        Adjust

    </a>

    <a href="{% url 'delete_stock' medicine.id %}"
    class="btn btn-sm btn-danger"
    onclick="return confirm('Delete this medicine from stock?')">

        Delete

    </a>

</td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}